/* cwcrop - this css is for the example page only.. */

body { background-color: #333333; color: #efefe9; font: 12px/1.3 "Lucida Grande","Trebuchet MS","Verdana","Helvetica",sans-serif; }
a { color: #c7c8fe; }
p small { color: #a9a9a9; }